@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.segment-heading {
  &.mx-w-640 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &.mx-w-725{
    max-width: 725px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
