@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../mixins/scrollbar" as *;

$page-top-spacing-desktop: 100px;

.page-top-spacing {
  padding-top: $page-top-spacing-desktop;
}

.asms-home-banner {
  background: linear-gradient(to bottom, #ffffff 0%, #e9f2ed 89%);

  .home-banner-trust {
    max-width: 1064px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    .trust-item {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(100% + 20px);
        height: 80px;
        width: 1px;
        background: color("grey-3");
        transform: translateY(-50%);
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

.asms-sms-gateway {
  padding-top: 100px;

  .sms-gateway-split {
    gap: 60px;
  }
}


.asms-request-quote{
  .request-quote-split{
    grid-template-columns: 65% 35%;

    &-form{
      .form-custom{
        .form-control{
          &::placeholder{
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.asms-sms-features{
  .sms-features-split{
    grid-template-columns: 1fr 2fr;
  }
}


.asms-textline-workflow{
  .textline-workflow{
    padding-top: 60px;
    max-width: 1312px!important;

    &-line{
      top: -10px;
      max-width: 1380px;
    }

    &-icon{
      position: relative;
      width: 86px;
      height: 86px;
      border: 2px dashed  color("primary");
      border-radius: 100%;
    }
  }
}